body {
    background-color: #D7CCC8;
}

select {
    width: 100%
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

#photo {
    background-image: url("background2.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.2em;
    color: #FDEFBA;
    font-weight: normal;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgba(100%, 100%, 100%, 25%);
}

#container {
    font-family: "Crimson Text", serif;
    line-height: 150%;
    background-color: rgba(0%, 0%, 0%, .8);
    color: white;
    padding: 16px 40px 16px 40px;
}

a {
    color: #FDEFBA;
    text-decoration: none;
}

.full-title {
    font-size: 0.9em;
    line-height: 150%;
}

.title {
    color: #FDEFBA;
}

.author {
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
}

.details {
    margin-top: 10px;
    font-size: 0.5em;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}

.description {
    margin-top: 10px;
    font-size: 0.7em;
    line-height: 1.5;
}

#footer {
    font-size: 0.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#paypal {
    display: none;
    font-size: 0.6em;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
    text-align: center;
}

#paypal table {
    width: 100%;
}

#paypal select {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    padding: 4px;
    border-radius: 8px;
}

#paypal input {
    margin-top: 24px;
}

.symbol img {
    width: 4%;
}

.symbol {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #container {
        max-width: 600px;
        margin: 100px auto;
        border-radius: 8px;
        font-size: 1.9em;
    }
}

@media screen and (max-width: 700px) {
    #container {
        font-size: 1.5em;
    }
}
