body {
    background-color: #D7CCC8;
}

select {
    width: 100%
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.cover-image {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}

.cover-image img {
    width: 150px;
}

.cover-image-both {
    float: left;
    margin-right: 15px;
}

.cover-image-both img {
    width: 150px;
}

#photo {
    background-image: url("background2.jpg");
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.2em;
    color: #FDEFBA;
    font-weight: normal;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: rgba(100%, 100%, 100%, 25%);
}

#container {
    font-family: "Crimson Pro", serif;
    line-height: 150%;
    background-color: rgba(0%, 0%, 0%, .8);
    color: white;
    padding: 16px 40px 16px 40px;
}

.story h1 {
    text-align: center;
}

.story h1:after {
	margin-top: 40px;
	margin-bottom: 40px;
	background-image: url("symbol-title.png");
    background-position-x: center;
    background-repeat: no-repeat;
    display: block;
    background-size: 23px 34px;
    text-align: center;
    height: 34px;
    width: 100%;
    content: ""
}

.story p {
    text-align: justify;
    font-size: 0.8em;
    line-height: 150%;
}

.story hr {
	border: none;
	margin: 50px 200px 50px 200px;
	text-align: center;
}

.story hr:after {
	background-image: url("symbol.png");
    background-repeat: no-repeat;
    background-size: 32px 35px;
    background-position-x: center;
    display: block;
    text-align: center;
    height: 32px;
    width: 100%;
    content: ""
}

.go-home {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(100%, 100%, 100%, 25%);
}

.hashtagged:before {
	display: block;
	content: "𖥻";
	margin-top: 0px;
	margin-bottom: 12px;
	text-align: center;
}

pre,
code {
    font-family: "Latin Modern Mono", "Courier New", monospace;
    white-space: pre-wrap;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 24px;
	font-size: 0.9em;
	line-height: 150%;    
}

a {
    color: #FDEFBA;
    text-decoration: none;
}

.full-title {
    font-size: 0.9em;
    line-height: 150%;
}

.title {
    color: #FDEFBA;
}

.author {
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
}

.details {
    font-size: 0.5em;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}

.details a {
    text-decoration: underline;
}

.link-buttons a {
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    background: #FDEFBA;
    color: black;
    margin: 0px 4px 6px 0px;
    min-width: 40px;
    text-align: center;
}

.link-buttons a:hover {
    background: #fce68d;
}

.description {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.7em;
    line-height: 1.5;
}

.book-summary {
    min-height: 210px;
}

.description a {
    text-decoration: underline;
}

.story a {
    text-decoration: none!important;
}

#footer {
    font-size: 0.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#order-section {
    display: none;
    background-color: #D7CCC8;
    border-radius: 4px;
    font-size: 0.6em;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    color: black;
    text-align: center;
}

.symbol img {
    width: 4%;
}

.symbol {
    display: block;
    width: 100%;
    text-align: center;
}

#collection-box {
    width: 100%;
    min-height: 100px;
    display: block;
}

.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 700px) {
    #container {
        max-width: 600px;
        margin: 50px auto;
        border-radius: 8px;
        font-size: 1.9em;
    }
}

@media screen and (max-width: 700px) {
    #container {
        font-size: 1.5em;
    }
}

#scroll-down-indicator {
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
}

#background-video {
    position: fixed;
    object-fit: cover;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.all-covers {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.cover-column {
    flex: 1;
}

.cover-column-padding {
    flex: 1;
    max-width: 20px;
}

.cover-column img {
    width: 100%; /* Make image fill the container */
    display: block; /* Remove extra space below image */
}
